@import url(../App.css);

/* Fondo de la página */
/* .dashboard-container {
      color: var(--color-white);;
} */

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000000;
    background-color: #01010172;
    width: calc(100% - 320px);
    padding: 10px 40px;
    backdrop-filter: blur(20px);
    gap: 10px;
    color: white;
}

.button-group {
    display: flex;
    gap: 10px;
}

.crear-campana-btn,
.descargar-btn {
    border: 2px solid rgb(55, 55, 55);
    background-color: var(--color-sidebar-card);
    color: var(--color-white);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    transition: border 0.3s ease;
}

.crear-campana-btn:hover,
.descargar-btn:hover {
    border: 2px solid #878787;
}

/* Contenedor de la tarjeta */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    /* Ajusta minmax a 320px */
    gap: 25px;
    /* Aumenta el gap para mayor espacio entre los elementos */
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* Fondo de la tarjeta */
.card {
    background-color: var(--color-sidebar-card);
    color: var(--color-white);
    ;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid #444b6b;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 250px;
    min-height: 250px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    /* Transiciones suaves */
}

/* Header de la tarjeta */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-data {
    display: flex;
    gap: 15px;
}

/* .status-icon {
    color: var(--color-white);
} */

/* .status-icon:hover {
    transform: scale(1.1);
} */

.fecha {
    color: var(--color-login-grey);
    font-size: 0.9em;
    font-weight: 400;
}

.hora {
    color: var(--color-login-grey);
    font-size: 0.9em;
    font-weight: 400;
}

/* Nombre de la campaña alineado a la izquierda */
.card-campaign-name h3 {
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
}

.containerItemNombre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnDelete {
    font-size: 20px;
}

.btnDelete:hover {
    transition: .8s;
    transform: scale(1.3);
    cursor: pointer;
}

.box-view {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.view {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    transition: color 0.3s ease;
}

.box-buttons button {
    color: var(--color-white);
}

.box-buttons button:hover {
    transform: scale(1.1);
}

.view:hover {
    color: var(--color-login-grey);
}

.view p {
    margin: 0px;
}

/* Cuerpo de la tarjeta reorganizado en dos filas */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

/* Grupo de iconos en dos filas */
.status-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas */
    grid-template-rows: 1fr 1fr;
    /* Dos filas */
    gap: 10px;
}

.status-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    width: calc(100% - 30px);
    min-width: calc(100% - 70px);
}

/* Ajuste de colores */
.success {
    color: #00ff00;
}

.error {
    color: var(--color-error-cancel);
}

.pendiente {
    color: #ffc107;
    background-color: #212121;
}

.total {
    color: var(--color-white);
    ;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

/* Pie de la tarjeta */
.card-footer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/* Botón de eliminar */
.delete-button {
    background-color: transparent;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.delete-button:hover {
    color: var(--color-error-cancel);
}

/* Fondo del modal */
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000;
}

/* Contenido del modal */
.custom-modal {
    background: var(--color-sidebar-card);
    border: 2px solid rgb(55, 55, 55);
    padding: 20px;
    border-radius: 12px;
    max-width: 90%;
    width: 400px;
    box-shadow: 0 10px 1px rgba(0, 0, 0, 0.5);
    color: var(--color-white);
    position: relative;
}

/* Header del modal */
.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: var(--color-error-cancel);
}

/* Campos de formulario */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
label span{
    color: #aaa;
    font-size: 0.85em;
}
.input-field,
.textarea-field,
.select-field {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    font-size: 1em;
    background-color: var(--color-sidebar-card);
    border: 2px solid var(--color-button-grey);
    color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
    max-width: 100%;
    margin-right: 0;
    font-family: 'poppins';
    font-size: 14px;
    outline: none;
    transition: border 0.3s ease;
}

.input-field:hover,
.textarea-field:hover,
.select-field:hover {
    border: 2px solid var(--color-login-grey);
}

.input-field:focus,
.textarea-field:focus,
.select-field:focus {
    border: 2px solid var(--color-login-grey) !important;
}

.file-input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-input-label {
    background-color: var(--color-button-grey);
    color: var(--color-white);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.file-input-label:hover {
    background-color: var(--color-login-grey);
}

input[type="file"] {
    display: none;
}

.file-selected {
    color: #aaa;
    font-size: 0.85em;
}

/* .input-field:focus,
.textarea-field:focus,
.select-field:focus {
    border: 1px solid #007bff;
    outline: none;
} */

.textarea-field {
    height: 120px;
    resize: vertical;
    max-width: 100%;
}

.custom-modal .char-counter {
    font-size: 0.75em;
    color: #bbb;
    text-align: right;
    margin-top: -10px;
}

.record-count {
    font-size: 0.85em;
    color: #aaa;
    margin-top: 5px;
}

.custom-modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.guardar-btn,
.cancelar-btn,.programar-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1em;
    color: var(--color-white);
    ;
}

.guardar-btn {
    background-color: var(--color-succes-confirm);
}

.cancelar-btn,.programar-btn {
    background-color: #dc3545;
}

.guardar-btn:hover,
.cancelar-btn:hover,.programar-btn:hover {
    opacity: 0.8;
}

.input-date {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .date-input {
    padding: 5px 10px; 
    border: none;
    border-radius: 8px; 
    background-color: #f0f0f0;
    font-size: 16px;
    color: #333; 
    outline: none; 
    box-sizing: border-box; 
    transition: background-color 0.3s, box-shadow 0.3s; 
  }
  
  .date-input:focus {
    background-color: #e6e6e6; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Estilo al pasar el mouse */
  .date-input:hover {
    background-color: #e0e0e0; /* Fondo más claro */
  }
  
.content {
    max-height: 0;
    /* Inicialmente está colapsado */
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.content.show {
    max-height: 500px;
    /* Ajusta según lo necesario */
    opacity: 1;
}

/* Estilo especial para tarjetas en estado pendiente */

.card-sending {
    box-shadow: 0px 0px 10px 1px #21608a;
    background: radial-gradient(circle at 50% -50%, #3498db 1%, var(--color-sidebar-card) 55%);
    border: 1px solid #3498db;
}

/* Estilo especial para tarjetas completadas */
.card-completed {
    box-shadow: 0px 0px 10px 1px #166437;
    background: radial-gradient(circle at 50% -50%, #27ae60 1%, var(--color-sidebar-card) 55%);
    border-color: #27ae60;
    /* Borde verde */
}

.leyend-pause svg {
    color: #f3d512;
}

.leyend-send svg {
    color: #ff9800;
}

.leyend-cancel svg {
    color: #e74c3c;
}

.leyend-sending svg {
    color: #3498db;
}

.leyend-finalized svg {
    color: #27ae60;
}

@media (max-width: 1400px) {
    .box-leyend {
        display: none !important;
    }

    .box-leyend-responsive {
        position: fixed;
        display: flex !important;
        justify-content: space-between;
        bottom: 0px;
        right: 0px;
        z-index: 1;
        background-color: #01010172;
        backdrop-filter: blur(20px);
        width: calc(100% - 281px);
        padding: 0px 20px;
    }

    .cards-container {
        padding-bottom: 60px;
    }
}

@media (max-width: 1000px) {
    .header {
        width: calc(100% - 180px);
    }

    .box-leyend-responsive {
        width: calc(100% - 140px);
    }
}

@media (max-width: 700px) {

    .dashboard-container h1 {
        margin: 30px 0px 0px 0px;
    }

    .header {
        padding: 10px 20px;
        width: calc(100% - 140px);
        flex-direction: column;
    }
}

@media (max-width: 500px) {

    .dashboard-container h1 {
        font-size: 25px;
    }

    .header {
        padding: 10px 20px;
        width: calc(100% - 40px);
    }

    .box-leyend-responsive {
        width: calc(100% - 40px);
    }

    .cards-container {
        margin-top: 60px;
    }
}
 
.divfileInputImagenVideo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.fileInputImagenVideo {
    background-color: var(--color-button-grey);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.2s;
    width: auto;
    text-transform: uppercase; 
    white-space: nowrap;
  }
  .fileInputImagenVideo:hover {
    background-color: var(--color-login-grey);
}
  /* Contenedor principal */
.fecha-container {
    position: relative;
    max-width: 20rem;
  }
  
  /* Ícono */
  .fecha-icon {
    position: absolute;
    inset-y: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 0.875rem;
    pointer-events: none;
  }
  
  .icon {
    width: 1rem;
    height: 1rem;
    color: #6b7280; /* Gris */
  }
  
  /* Input */
  .fecha-input {
    background-color: #f9fafb; /* Fondo gris claro */
    border: 1px solid #d1d5db; /* Borde gris */
    color: #1f2937; /* Texto oscuro */
    font-size: 0.875rem; /* Tamaño de fuente */
    border-radius: 0.5rem; /* Bordes redondeados */
    padding: 0.625rem 2.5rem 0.625rem 2.5rem; /* Espaciado interno */
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  /* Efecto focus */
  .fecha-input:focus {
    border-color: #3b82f6; /* Azul */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.25); /* Resaltado azul */
  }
  
  /* Efecto hover */
  .fecha-input:hover {
    border-color: #9ca3af; /* Gris intermedio */
  }
  